.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
/* To change the absolute position of the specific dice from vertical to Horizontal/inline. */
  .dice {
    text-align: center;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%; 
    transition: all 0.3s ease;
  
  }

  body {
    background-color: #393E46;
  }

  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }

  p {
    font-size: 1rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }

  img {
    width: 80%;
  }

  footer {
  margin-top: 7%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  }

  #header {
    display: inline-block;
    padding: 15px 20px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #388E3C;
    border-radius: 5px;
    box-shadow: 0px 4px 0px #388E3C; /* 3D shadow effect */
    cursor: pointer;
    transition: all 0.3s ease;
}

#header:hover {
    background-color: #388E3C; /* Darker background color on hover */
    box-shadow: 0px 0px 0px #388E3C; /* Remove shadow on hover */
}

#rest {
    cursor: pointer;
    display: none;
    
}

